body {
  background-color: green;
}
.contenedor {
  background-color: white;
}
/* Aplicamos estilos a la tabla */
/* aplicamos: que la tabla ocupe todo el ancho de la pantalla,borde de la tabla */
table {
  width: 100%;
  border: 4px solid darkorange;
  border-collapse: collapse;
}
thead th,
tbody td {
  border: 4px solid darkblue;
}
/* aumentamos el tamaño del th,alineamos los datos del th al medio y superior,damos color de fondo a la letra */
th {
  height: 50px;
  text-align: center;
  vertical-align: top;
  background-color: orange;
  color: white;
}
/* agregamos un color de fondo y de letra cuando pasemos el mouse sobbre las filas */
table tbody tr:hover {
  background-color: black;
  color: gainsboro;
}
/* aplicamos un estilo a la tabla2 */
.tabla2 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid gainsboro;
  padding: 5px;
}
.tabla2 td,
.tabla2 th {
  border: 1px solid darkblue;
}
.tabla2 th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: darkblue;
  color: white;
}
.tabla2 tr:hover {
  background-color: skyblue;
  color: darkblue;
}
