body {
  background-color: darkblue;
}
.contenedor {
  background-color: white;
  padding: auto;
}
/* Aplicando estilos a la lista sin ordenar */
ul {
  background-color: cornflowerblue;
  padding: 10px;
  list-style-type: square;
  list-style-position: inside;
}
ul li {
  background-color: cornsilk;
  margin: 3px;
}
ul li ul {
  background-color: cyan;
  padding: 10px;
  list-style-type: circle;
  list-style-position: outside;
}
ul li ul li {
  background-color: darksalmon;
  margin: 3px;
}
ul li ul li ul {
  background-color: khakhi;
  list-style-type: disc;
  list-style-position: inside;
  padding: 10px;
}
ul li ul li ul li {
  background-color: crimson;
  color: whitesmoke;
}
