li {
  display: inline;
}
span {
  display: block;
}
a {
  display: block;
}
p span {
  display: inline-block;
  width: 25%;
}
.elementolista p {
  display: list-item;
  margin-left: 50px;
}
.contenedor {
  display: table;
  border-spacing: 10px;
}
.contenido {
  display: table-row;
}
.secundario,
.principal,
.lateral {
  display: table-cell;
}
.principal {
  width: 60%;
}
.secundario,
.lateral {
  width: 20%;
}
.flexible {
  display: flex;
  margin-bottom: 10px;
  background-color: gainsboro;
}
.flexible p {
  width: 25%;
  border: black 1px solid;
  margin: 2px;
}
.flexible2 {
  display: flex;
  flex-direction: row-reverse;
  background-color: blanchedalmond;
}
.flexible2 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}
.flexible3 {
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
}
.flexible3 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}
.flexible4 {
  display: flex;
  flex-direction: column-reverse;
  background-color: cornflowerblue;
}
.flexible4 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}
.flexible5 p {
  display: flex;
  flex-direction: nowrap;
  background-color: crimson;
}
.flexible5 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}
.flexible6 {
  display: flex;
  flex-direction: wrap;
  background-color: cyan;
}
.flexible6 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}
.flexible7 {
  display: flex;
  flex-direction: wrap-reverse;
  background-color: darkmagenta;
}
.flexible7 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}
.flexible8 {
  display: flex;
  flex-direction: row-reverse wrap;
  background-color: darkorange;
}
.flexible8 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}
.flexible9 {
  display: flex;
  flex-flow: wrap column-reverse;
  background-color: darkgreen;
}
.flexible9 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}
.flexible10 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background-color: darksalmon;
}
.flexible10 p {
  width: 200px;
  border: black 1px solid;
  margin: 2px;
}
