.contenedor {
  width: 980px;
  height: 800px;
  background-color: aquamarine;
  margin: auto;
}
.cabecera {
  width: 980px;
  height: 250px;
  background-color: blueviolet;
}
.menu {
  width: 980px;
  height: 90px;
  background-color: orange;
}
.contenido {
  width: 980px;
  height: 400px;
  background-color: chocolate;
}
.pie {
  width: 980px;
  height: 70px;
  background-color: palevioletred;
}
